In [31]:
import numpy as np
import pandas as pd 
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import ModelCheckpoint

In [32]:
df = pd.read_csv('dataset.csv')
df.head()

,Transaction_ID,Timestamp,Vehicle_Type,FastagID,TollBoothID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Geographical_Location,Vehicle_Speed,Vehicle_Plate_Number,Fraud_indicator
0,1,1/6/2023 11:20,Bus,FTG-001-ABC-121,A-101,Express,Large,350,120,"13.059816123454882, 77.77068662374292",65,KA11AB1234,Fraud
1,2,1/7/2023 14:55,Car,FTG-002-XYZ-451,B-102,Regular,Small,120,100,"13.059816123454882, 77.77068662374292",78,KA66CD5678,Fraud
2,3,1/8/2023 18:25,Motorcycle,NaN,D-104,Regular,Small,0,0,"13.059816123454882, 77.77068662374292",53,KA88EF9012,Not Fraud
3,4,1/9/2023 2:05,Truck,FTG-044-LMN-322,C-103,Regular,Large,350,120,"13.059816123454882, 77.77068662374292",92,KA11GH3456,Fraud
4,5,1/10/2023 6:35,Van,FTG-505-DEF-652,B-102,Express,Medium,140,100,"13.059816123454882, 77.77068662374292",60,KA44IJ6789,Fraud

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         5000 non-null   int64
 1   Timestamp              5000 non-null   object
 2   Vehicle_Type           5000 non-null   object
 3   FastagID               4451 non-null   object
 4   TollBoothID            5000 non-null   object
 5   Lane_Type              5000 non-null   object
 6   Vehicle_Dimensions     5000 non-null   object
 7   Transaction_Amount     5000 non-null   int64
 8   Amount_paid            5000 non-null   int64
 9   Geographical_Location  5000 non-null   object
 10  Vehicle_Speed          5000 non-null   int64
 11  Vehicle_Plate_Number   5000 non-null   object
 12  Fraud_indicator        5000 non-null   object
dtypes: int64(4), object(9)
memory usage: 507.9+ KB

In [34]:
df.shape

(5000, 13)

In [35]:
df.describe()

       Transaction_ID  Transaction_Amount  Amount_paid  Vehicle_Speed
count     5000.000000          5000.00000  5000.000000    5000.000000
mean      2500.500000           161.06200   141.261000      67.851200
std       1443.520003           112.44995   106.480996      16.597547
min          1.000000             0.00000     0.000000      10.000000
25%       1250.750000           100.00000    90.000000      54.000000
50%       2500.500000           130.00000   120.000000      67.000000
75%       3750.250000           290.00000   160.000000      82.000000
max       5000.000000           350.00000   350.000000     118.000000

In [36]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.head()

,Transaction_ID,Timestamp,Vehicle_Type,FastagID,TollBoothID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Geographical_Location,Vehicle_Speed,Vehicle_Plate_Number,Fraud_indicator
0,1,2023-01-06 11:20:00,Bus,FTG-001-ABC-121,A-101,Express,Large,350,120,"13.059816123454882, 77.77068662374292",65,KA11AB1234,Fraud
1,2,2023-01-07 14:55:00,Car,FTG-002-XYZ-451,B-102,Regular,Small,120,100,"13.059816123454882, 77.77068662374292",78,KA66CD5678,Fraud
2,3,2023-01-08 18:25:00,Motorcycle,NaN,D-104,Regular,Small,0,0,"13.059816123454882, 77.77068662374292",53,KA88EF9012,Not Fraud
3,4,2023-01-09 02:05:00,Truck,FTG-044-LMN-322,C-103,Regular,Large,350,120,"13.059816123454882, 77.77068662374292",92,KA11GH3456,Fraud
4,5,2023-01-10 06:35:00,Van,FTG-505-DEF-652,B-102,Express,Medium,140,100,"13.059816123454882, 77.77068662374292",60,KA44IJ6789,Fraud

In [37]:
df = df.dropna(subset=['FastagID'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4451 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         4451 non-null   int64
 1   Timestamp              4451 non-null   datetime64[ns]
 2   Vehicle_Type           4451 non-null   object
 3   FastagID               4451 non-null   object
 4   TollBoothID            4451 non-null   object
 5   Lane_Type              4451 non-null   object
 6   Vehicle_Dimensions     4451 non-null   object
 7   Transaction_Amount     4451 non-null   int64
 8   Amount_paid            4451 non-null   int64
 9   Geographical_Location  4451 non-null   object
 10  Vehicle_Speed          4451 non-null   int64
 11  Vehicle_Plate_Number   4451 non-null   object
 12  Fraud_indicator        4451 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 486.8+ KB

In [38]:
df['is_duplicate_fastag'] = df.duplicated(subset='FastagID', keep=False)
df['is_duplicate_plate'] = df.duplicated(subset='Vehicle_Plate_Number', keep=False)
df.head()

,Transaction_ID,Timestamp,Vehicle_Type,FastagID,TollBoothID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Geographical_Location,Vehicle_Speed,Vehicle_Plate_Number,Fraud_indicator,is_duplicate_fastag,is_duplicate_plate
0,1,2023-01-06 11:20:00,Bus,FTG-001-ABC-121,A-101,Express,Large,350,120,"13.059816123454882, 77.77068662374292",65,KA11AB1234,Fraud,False,False
1,2,2023-01-07 14:55:00,Car,FTG-002-XYZ-451,B-102,Regular,Small,120,100,"13.059816123454882, 77.77068662374292",78,KA66CD5678,Fraud,False,False
3,4,2023-01-09 02:05:00,Truck,FTG-044-LMN-322,C-103,Regular,Large,350,120,"13.059816123454882, 77.77068662374292",92,KA11GH3456,Fraud,False,False
4,5,2023-01-10 06:35:00,Van,FTG-505-DEF-652,B-102,Express,Medium,140,100,"13.059816123454882, 77.77068662374292",60,KA44IJ6789,Fraud,False,False
5,6,2023-01-11 10:00:00,Sedan,FTG-066-GHI-987,A-101,Regular,Medium,160,100,"13.059816123454882, 77.77068662374292",105,KA77KL0123,Fraud,False,False

In [39]:
label_encoder = LabelEncoder()
df['Vehicle_Type'] = label_encoder.fit_transform(df['Vehicle_Type'])
df['Lane_Type'] = label_encoder.fit_transform(df['Lane_Type'])
df['Geographical_Location'] = label_encoder.fit_transform(df['Geographical_Location'])

In [40]:
for col in ['Transaction_Amount', 'Amount_paid', 'Vehicle_Speed']:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df[col].fillna(df[col].mean(), inplace=True)

In [41]:
df = df.drop(['Vehicle_Speed', 'Timestamp'], axis=1)

In [42]:
df['Fraud_indicator'] = df['Fraud_indicator'].map({'Fraud': 1, 'Not Fraud': 0})

In [43]:
features = ['Transaction_Amount', 'Amount_paid', 'Vehicle_Type', 'Lane_Type', 'Geographical_Location']
X = df[features]
y = df['Fraud_indicator']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.75, random_state=42)

In [44]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [45]:
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [46]:
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.add(Dropout(0.2))

In [47]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 32)                192

 dense_4 (Dense)             (None, 16)                528

 dense_5 (Dense)             (None, 1)                 17

 dropout_1 (Dropout)         (None, 1)                 0

=================================================================
Total params: 737 (2.88 KB)
Trainable params: 737 (2.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [48]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [49]:
checkpoint = ModelCheckpoint("neural_networks.h5", monitor='val_accuracy', verbose=1, save_best_only=True, mode='max')
callbacks_list = [checkpoint]

In [50]:
history = model.fit(X_train, y_train, epochs=20, batch_size=16, validation_split=0.25, callbacks=callbacks_list)

Epoch 1/20

 1/53 [..............................] - ETA: 7s - loss: 6.4711 - accuracy: 0.5625

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/engine/data_adapter.py:1798: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

Epoch 1: val_accuracy improved from -inf to 0.93165, saving model to neural_networks.h5
53/53 [==============================] - 0s 2ms/step - loss: 2.0560 - accuracy: 0.7218 - val_loss: 0.1799 - val_accuracy: 0.9317
Epoch 2/20
 1/53 [..............................] - ETA: 0s - loss: 1.0714 - accuracy: 0.8750
Epoch 2: val_accuracy improved from 0.93165 to 0.94604, saving model to neural_networks.h5
53/53 [==============================] - 0s 693us/step - loss: 0.9155 - accuracy: 0.9017 - val_loss: 0.1227 - val_accuracy: 0.9460
Epoch 3/20
 1/53 [..............................] - ETA: 0s - loss: 1.3695 - accuracy: 0.7500
Epoch 3: val_accuracy improved from 0.94604 to 0.98201, saving model to neural_networks.h5
53/53 [==============================] - 0s 657us/step - loss: 1.0119 - accuracy: 0.9101 - val_loss: 0.0673 - val_accuracy: 0.9820
Epoch 4/20
 1/53 [..............................] - ETA: 0s - loss: 0.0258 - accuracy: 1.0000
Epoch 4: val_accuracy did not improve from 0.98201
53/53 [==============================] - 0s 573us/step - loss: 0.7512 - accuracy: 0.9353 - val_loss: 0.0585 - val_accuracy: 0.9820
Epoch 5/20
 1/53 [..............................] - ETA: 0s - loss: 0.2236 - accuracy: 0.9375
Epoch 5: val_accuracy improved from 0.98201 to 0.98921, saving model to neural_networks.h5
53/53 [==============================] - 0s 680us/step - loss: 0.8854 - accuracy: 0.9293 - val_loss: 0.0560 - val_accuracy: 0.9892
Epoch 6/20
 1/53 [..............................] - ETA: 0s - loss: 2.9026 - accuracy: 0.8125
Epoch 6: val_accuracy did not improve from 0.98921
53/53 [==============================] - 0s 567us/step - loss: 0.9485 - accuracy: 0.9245 - val_loss: 0.0488 - val_accuracy: 0.9856
Epoch 7/20
 1/53 [..............................] - ETA: 0s - loss: 0.1290 - accuracy: 0.9375

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

Epoch 7: val_accuracy did not improve from 0.98921
53/53 [==============================] - 0s 579us/step - loss: 0.7636 - accuracy: 0.9388 - val_loss: 0.0447 - val_accuracy: 0.9892
Epoch 8/20
 1/53 [..............................] - ETA: 0s - loss: 1.0000 - accuracy: 0.9375
Epoch 8: val_accuracy did not improve from 0.98921
53/53 [==============================] - 0s 582us/step - loss: 0.9418 - accuracy: 0.9281 - val_loss: 0.0414 - val_accuracy: 0.9892
Epoch 9/20
 1/53 [..............................] - ETA: 0s - loss: 0.0201 - accuracy: 1.0000
Epoch 9: val_accuracy improved from 0.98921 to 0.99281, saving model to neural_networks.h5
53/53 [==============================] - 0s 651us/step - loss: 0.8461 - accuracy: 0.9424 - val_loss: 0.0388 - val_accuracy: 0.9928
Epoch 10/20
 1/53 [..............................] - ETA: 0s - loss: 0.9822 - accuracy: 0.9375
Epoch 10: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 1ms/step - loss: 0.7459 - accuracy: 0.9412 - val_loss: 0.0372 - val_accuracy: 0.9928
Epoch 11/20
 1/53 [..............................] - ETA: 0s - loss: 0.9711 - accuracy: 0.9375
Epoch 11: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 587us/step - loss: 0.8827 - accuracy: 0.9365 - val_loss: 0.0342 - val_accuracy: 0.9928
Epoch 12/20
 1/53 [..............................] - ETA: 0s - loss: 0.0315 - accuracy: 1.0000
Epoch 12: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 571us/step - loss: 0.8137 - accuracy: 0.9353 - val_loss: 0.0390 - val_accuracy: 0.9820
Epoch 13/20
 1/53 [..............................] - ETA: 0s - loss: 0.9645 - accuracy: 0.9375
Epoch 13: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 566us/step - loss: 0.8186 - accuracy: 0.9388 - val_loss: 0.0296 - val_accuracy: 0.9928
Epoch 14/20
 1/53 [..............................] - ETA: 0s - loss: 0.9731 - accuracy: 0.9375
Epoch 14: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 576us/step - loss: 0.9153 - accuracy: 0.9365 - val_loss: 0.0249 - val_accuracy: 0.9928
Epoch 15/20
 1/53 [..............................] - ETA: 0s - loss: 0.0433 - accuracy: 1.0000
Epoch 15: val_accuracy did not improve from 0.99281
53/53 [==============================] - 0s 568us/step - loss: 0.5216 - accuracy: 0.9604 - val_loss: 0.0230 - val_accuracy: 0.9928
Epoch 16/20
 1/53 [..............................] - ETA: 0s - loss: 0.0149 - accuracy: 1.0000
Epoch 16: val_accuracy improved from 0.99281 to 0.99640, saving model to neural_networks.h5
53/53 [==============================] - 0s 644us/step - loss: 0.4363 - accuracy: 0.9628 - val_loss: 0.0239 - val_accuracy: 0.9964
Epoch 17/20
 1/53 [..............................] - ETA: 0s - loss: 1.9392 - accuracy: 0.8750
Epoch 17: val_accuracy did not improve from 0.99640
53/53 [==============================] - 0s 573us/step - loss: 0.7465 - accuracy: 0.9484 - val_loss: 0.0257 - val_accuracy: 0.9964
Epoch 18/20
 1/53 [..............................] - ETA: 0s - loss: 1.9486 - accuracy: 0.8750
Epoch 18: val_accuracy did not improve from 0.99640
53/53 [==============================] - 0s 565us/step - loss: 0.8739 - accuracy: 0.9353 - val_loss: 0.0256 - val_accuracy: 0.9928
Epoch 19/20
 1/53 [..............................] - ETA: 0s - loss: 0.0242 - accuracy: 1.0000
Epoch 19: val_accuracy did not improve from 0.99640
53/53 [==============================] - 0s 579us/step - loss: 0.6173 - accuracy: 0.9496 - val_loss: 0.0262 - val_accuracy: 0.9928
Epoch 20/20
 1/53 [..............................] - ETA: 0s - loss: 0.9747 - accuracy: 0.9375
Epoch 20: val_accuracy did not improve from 0.99640
53/53 [==============================] - 0s 582us/step - loss: 0.7735 - accuracy: 0.9472 - val_loss: 0.0164 - val_accuracy: 0.9928

In [51]:
y_pred_prob = model.predict(X_test_scaled)
y_pred = np.round(y_pred_prob)

105/105 [==============================] - 0s 236us/step

In [52]:
confusion = confusion_matrix(y_test_encoded, y_pred)
confusion

array([[2283,  331],
       [ 504,  221]])

In [53]:
accuracy = accuracy_score(y_test_encoded, y_pred)
precision = precision_score(y_test_encoded, y_pred)
recall = recall_score(y_test_encoded, y_pred)
f1score = f1_score(y_test_encoded, y_pred)

In [54]:
print("Accuracy: ", accuracy)
print("Precision: ", precision)
print("Recall: ", recall)
print("F1 Score: ", f1score)

Accuracy:  0.7499251272836178
Precision:  0.4003623188405797
Recall:  0.30482758620689654
F1 Score:  0.346123727486296